<app-navbar></app-navbar>
<div class="card" v-if="userData.voters.length > 0;else empty">
    <div class="card-body">
      <h4 class="card-title">Aadhar Number is: {{userData.aadharId}}</h4>
      <p class="card-text">{{userData.name}}</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Candidate Name</th>
            <th>Symbol</th>
            <th>Party Name</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of userData.voters">
            <td>{{candidate.candidateName}}</td>
            <td>{{candidate.partyNamae}}</td>
            <td>{{candidate.symbol}}</td>
            <td class="text-center">
              <button type="button" (click)="alert()" class="block-btn w-50">Vote</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #empty>
    <div class="text-center">
    <img src="../../assets/no-record-found.png" width="200" height="200">
    <h4>No Candidates Found for this location</h4>
</div>
</ng-template>